<!DOCTYPE html><html lang="en">
<head>  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  <link rel="stylesheet" href="styles.css">
  <title>Математические игры</title></head>
<body>  
    <header>
    <div class="logo"><h1>Полный курс углублённой математики для 3 класса</h1></div>    <a href="progress.html">Прогресс</a>
  </header>  
  <main>
    <h2>Добро пожаловать!</h2>    
    <p>Наш сайт предлагает увлекательные математические игры для школьников. Выберите игру и начните играть прямо сейчас!</p>
    <section class="games">      
        <article>
        <h2>Игра 1</h2>        
        <p>Описание игры 1</p>
        <a href="game1.html">Игра 1</a>      
    </article>
      <article>        
        <h2>Игра 2</h2>
        <p>Описание игры 2</p>        
        <a href="game2.html">Игра 2</a>
      </article>      
      <article>
        <h2>Игра 3</h2>        
        <p>Описание игры 3</p>
        <a href="game2.html">Игра 3</a>      
    </article>
      <article>        
        <h2>Игра 4</h2>
        <p>Описание игры 4</p>       
        <a href="game2.html">Игра 4</a>
      </article>    
    </section>
  </main>  
<footer>
    <div class="social-links">Контактная информация: example@mail.com</div>  
</footer>
</body>
</html>